html(lang="en" xmlns="http://www.w3.org/1999/xhtml")
    head
    meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    title Setup new password
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet')
    body(style="margin: 0; padding: 0;")
        table(align="center" border="0" cellpadding="0" width="100%" cellspacing="0" bgcolor="#EFEFEF")
            tr
                td(align="center" style="height: 164px")
                    h1(style="font-size: 40px; font-weight: bold; color: #154EC1; line-height:48px") Добро пожаловать!
            tr
                td(align="center")
                    p(style="font-family: Lato; font-weight: 400; font-size: 24px; line-height: 29px; width: 75%") Привет #{name},
                    p(style="font-family: Lato; font-weight: 400; font-size: 24px; line-height: 29px; width: 75%") Вы зарегестрировались в Wordya. Перейдите по ссылке внизу, чтобы активировать свой аккаунт.
            tr
                td(height="51px")
            tr
                td(align="center" height="60px")
                    div
                        a(href=`${link}` target="_blank" style="background-color: #154EC1; display: block; width: fit-content; padding: 10px 70px; font-family: Lato; font-weight: 700; font-size: 36px; line-height: 60px; color: white; text-decoration: none; user-select: text;") Подтвердить
            tr
                td(height="100px")

